.pagination ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
.pagination ul a{
	color: #20B2AA;
	list-style: none;
	line-height: 45px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease;
}
.pagination ul a.numb{
	list-style: none;
	height: 45px;
	width: 45px;
	margin: 0 3px;
	line-height: 45px;
	border-radius: 50%;
}
.pagination ul a.numb.first{
	margin: 0px 3px 0 -5px;
}
.pagination ul a.numb.last{
	margin: 0px -5px 0 3px;
}
.pagination ul a.dots{
	font-size: 22px;
	cursor: default;
}
.pagination ul a.btn{
	padding: 0 20px;
	border-radius: 50px;
}
.pagination a.active,
.pagination ul a.numb:hover,
.pagination ul a:first-child:hover,
.pagination ul a:last-child:hover{
	color: #fff;
	background: #20B2AA;
}