.pagination {
	padding-top: 1rem;
	padding-bottom: 2rem;
}
.pagination ul{
	list-style-type: none;
	width: min-content;
	display: flex;

	/* flex-wrap: wrap; */
	/* background: #fff; */
	padding: 5px;
	border-radius: 50px;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.pagination ul a{
	color: #20B2AA;
	list-style: none;
	line-height: 45px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease;
	text-decoration: none;
  }
.pagination ul a.numb{
	list-style: none;
	height: 45px;
	width: 45px;
	margin: 0 3px;
	line-height: 45px;
	border-radius: 50%;
}
.pagination ul li.dots{
	font-size: 22px;
	cursor: default;
}
.pagination ul a.btn{
	padding: 0 20px;
	border-radius: 50px;
}
.pagination a.active,
.pagination ul a.numb:hover,
.pagination ul a:first-child:hover,
.pagination ul a:last-child:hover{
	color: #fff;
	/* background: #20B2AA; */
	background: var(--outline-default);
}
  