.title-container {
	margin-top: 10px;
	display: flex;
	max-width: 1400px;
	margin: 0 auto;
}
.info-block {
	display: flex;
	width: 100%;
	flex-direction: column;
	
}
.info-block .box {
	display: flex;
	margin-top: 2rem;
}
.info-block .column {
	text-align: center;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
}
.info-block .name {
	width: 100%;
	text-align: center;
}
.info-block .name.ru-name {
	/* font-size: 35px;
    line-height: 44px;
    font-weight: 900;
    font-style: normal; */
	font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.info-block .column .name.en-name {
	color: #d9d7e0;
	font-size: 14px;
	line-height: 30px;
}
.info-block .column .genres {
	display: flex;
	margin-top: 1rem;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}
.info-block .column .genres .genre {
	text-decoration: none;
	color: white;
	padding: 1px 3px;
	height: min-content;
	/* background: #d9d7e0; */
	border: 2px solid white;
	border-radius: 0.5rem;
	margin-left: 5px;
	margin-top: 5px;
	/* border: #d9d7e0; */
}
.info-block .column ul{
	list-style-type: none;
}
.info-block .column ul li.info-item{
	position: relative;
	padding-left: 180px;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
}
.info-block .column ul li.info-item span{
	position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
}
.info-block .column ul li.info-item .genre {
	text-decoration: none;
	color: #297fd7;
	display: flex;
	flex-direction: column;
	padding-bottom: 1px;
}
.info-block .column ul li.info-item .genre::after{
	content: "";
	width: 100%;
	border-bottom: 1px dotted #297fd7;
	opacity: 1;
	height: 1px;
}
.info-block .column ul li.info-item .genre:hover::after{
	opacity: 0;
}
.title-container .info-block .poster {
	object-fit: cover;
	width: 30%;
	border-radius: 0.5rem;
}
@media screen and (min-width: 1300px){
	.title-container {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 600px) and (max-width: 1300px){
	.title-container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (min-width: 750px)and (max-width: 1300px){

}
@media screen and (min-width: 600px){
	.info-block .column{
		padding-left: 2rem;
	}
}
@media screen and (max-width: 600px){
	.info-block .box {
		flex-direction: column;
	}
	.info-block .box .column {
		padding-top: 2rem;
		
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.info-block .column .name.en-name{
		font-size: 12px;
	} 
	.title-container {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}
	.title-container .info-block {
		flex-direction: column;
	}
	.title-container .info-block .poster {
		width: 100%;
		max-height: 70vh;
	}
	
}
/* @media screen and (max-width: 450px){
	
} */