:root {
	--card-margin: 10px;
}
.card {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	/* height: auto; */
	text-decoration: none;
	margin: var(--card-margin);
	/* transition: .4s; */
}
.poster-container {
	display: flex;
	/* width: 100%; */
	height: 80%;
	/* aspect-ratio: 0.7; */
	/* height: 80%; */
}

.card .poster-container img {
	border-radius: 0.5rem;
	height: 100%;
	object-fit: cover;
	transition: .2s;
	
	width: 100%;
}
.card:hover .poster-container img {
	/* background-color: whitesmoke;
	color: black; */
	/* transform: scale(1.05); */
	transform: translate(0, -2%);	
}
.card .title {
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	color: #d9d7e0;
}
.card:hover .title {
	color: white;
}
.card {
	width: calc(100% / 5 - var(--card-margin) * 2);
	aspect-ratio: 0.54;
}
/* @media screen and (min-width: 1200px){
	.card {
		width: calc(100% / 5 - var(--card-margin) * 2);
	}
}
@media screen and (max-width: 1200px) and (min-width: 768px){
	.card {
		width: calc(100% / 4 - var(--card-margin) * 2);
	}
}
@media screen and (max-width: 768px){
	.card {
		width: calc(100% / 3 - var(--card-margin) * 2);
	}
} */