:root {
	--card-margin: 10px;
}
.card {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	/* height: auto; */
	text-decoration: none;
	margin: var(--card-margin);
	
	transition: .4s;
}
.card .poster-container .blocks {
	position: absolute;
	padding: 0.5rem;
	color: white;
	margin-top: -0.3rem;
}
.card .poster-container .block {
	margin-top: 0.3rem;
}
.card .poster-container .block::before{
	
	padding: 1px 5px;
	border-radius: 0.3rem;
}
.card .poster-container .announce::before{
	content: 'Анонс';
	background: #01c03a;
}
.poster-container {
	position: relative;
	display: flex;
	width: 100%;
	height: 80%;
	aspect-ratio: 0.7;
	transition: .2s;
}

.card .poster-container img {
	border-radius: 0.5rem;
	height: 100%;
	object-fit: cover;
	
	
	width: 100%;
}
.card:hover .poster-container {
	/* background-color: whitesmoke;
	color: black; */
	/* transform: scale(1.05); */
	transform: translate(0, -2%);	
}
.card .title {
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	color: #d9d7e0;
}
.card:hover .title {
	color: white;
}
@media screen and (min-width: 1200px){
	.card {
		width: calc(100% / 5 - var(--card-margin) * 2);
	}
}
@media screen and (max-width: 1200px) and (min-width: 768px){
	.card {
		width: calc(100% / 4 - var(--card-margin) * 2);
	}
}
@media screen and (max-width: 768px )and (min-width: 576px){
	.card {
		width: calc(100% / 3 - var(--card-margin) * 2);
	}
}
@media screen and (max-width: 576px){
	.card {
		width: calc(100% / 2 - var(--card-margin) * 2);
	}
	.card .title {
		line-height: 1;
	}
}