$primary-bg: rgb(29, 32, 36);
$secondary-bg: rgb(33, 36, 40);
$tertiary-bg: rgb(42, 45, 49);

$primary-text: rgb(255, 255, 255);
$secondary-text: rgb(179, 179, 179);
$tertiary-text: rgb(102, 102, 102);
$primary-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; ;
