$primary-bg: rgb(29, 32, 36);
$secondary-bg: rgb(33, 36, 40);
$secondary-2-bg: rgb(37, 40, 44);
$tertiary-bg: rgb(42, 45, 49);
$quaternary-bg: rgb(54, 57, 62);
$quinary-bg: rgb(64, 68, 75);
$senary-bg: rgb(82, 87, 94);
$septenary-bg: rgb(97, 103, 112);

$primary-text: rgb(255, 255, 255);
$secondary-text: rgb(179, 179, 179);
$tertiary-text: rgb(102, 102, 102);
$primary-reverse-text: rgb(0, 0, 0);
$primary-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

$accent: hwb(155 0% 14%);
$accent-error: hwb(0 0% 14%);
$accent-warning: hwb(40 0% 14%);
$accent-success: hwb(120 0% 14%);
$accent-hover: hwb(155 0% 16%);
