@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" , sans-serif;
}
.header {
    height: 60px;
    background-color: darkcyan;
    color: white;
}

.header .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-brand {
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}
