
:root {
	--header-height: 60px;
}
.header {
	position: fixed;
	width: 100%;
    height: var(--header-height);
    background-color: var(--background-default);
    color: white;
	z-index: 99;
	border-bottom: 0.5px solid var(--background-highest);
}
.header .header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-container .input-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header .header-container .input-container input{
	background-color: var(--background-highest);
    border-color: transparent;
    color: var(--foreground-default);
    font-size: var(--font-size-subhead-default);
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    line-height: 1.4;
	border-radius: 0.5rem;
	margin: 0 1rem;
	/* max-width: 600px; */
	/* max-width: ; */
}
@media screen and (min-width: 750px) {
	.header .header-container .input-container input {
		width: 650px;
	}
}
@media screen and (max-width: 750px){
	.header .header-container .input-container input {
		width: 90%;
	}
}
.header-brand {
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}
.sidebar{
	position: fixed;
	left: -78px;
	top: var(--header-height);
	height: 100%;
	width: 78px;
	background: var(--background-default);
	border-right: 0.5px solid var(--background-highest);
	padding: 0 14px;
	z-index: 99;
	transition: all 0.5s ease;
}
.sidebar.open{
	width: 250px;
	left: 0;
}
.sidebar .logo-details{
	height: 60px;
	display: flex;
	align-items: center;
	position: relative;
}
.sidebar .logo-details .icon{
	opacity: 0;
	transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	opacity: 0;
	transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
	opacity: 1;
}
.header #btn{
	z-index: 100;
	/* position: absolute; */
	height: 100%;
	aspect-ratio: 1;
	/* left: 0; */
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.5s ease;
	font-size: 28px;
}
.header #btn:hover{
	background: var(--outline-default);
}
.sidebar .nav-list{
	margin-top: 20px;
	height: 100%;
}
.sidebar.open .nav-list {
	display: block;
}
.sidebar li{
	position: relative;
	margin: 8px 0;
	list-style: none;
}

.sidebar li a{
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 12px;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	/* background: #11101D; */
	background: var(--background-root);
}
.sidebar li a:hover{
	/* background: #FFF; */
	background: var(--outline-default);
}
.sidebar li a .links_name{
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
}
.sidebar.open li a .links_name{
	opacity: 1;
	pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
	transition: all 0.5s ease;
	/* color: #11101D; */
}
.sidebar li i{
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	border-radius: 12px;
}

.sidebar li img{
	height: 45px;
	width: 45px;
	object-fit: cover;
	border-radius: 6px;
	padding: 2px;
	margin-left: 2px;
}

@media (max-width: 420px) {
	.sidebar li .tooltip{
		display: none;
	}
}
.sidebar:not(.sidebar.open){
	background: none;
}