/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: rgb(255, 255, 255);
  --vt-c-white-soft: rgb(248, 248, 248);
  --vt-c-white-mute: rgb(232, 232, 232);
  --vt-c-white-mute-2: rgb(210, 210, 210);
  --vt-c-black: rgb(24, 24, 24);
  --vt-c-black-soft: rgb(34, 34, 34);
  --vt-c-black-mute: rgb(40, 40, 40);
  --vt-c-black-mute-2: rgb(52, 52, 52);

  --vt-c-indigo: rgb(44, 62, 80);
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --vt-c-text-dark-3: rgba(206, 206, 206, 0.64);
  --vt-c-white-60: rgb(60, 60, 60);
  --vt-c-white-190: rgb(190, 190, 190);

  
  --light-theme-background: var(--vt-c-white);
  --light-theme-soft: var(--vt-c-white-soft);
  --light-theme-mute: var(--vt-c-white-mute);
  --light-theme-mute-2: var(--vt-c-white-mute-2);
  --light-theme-mute-3: var(--vt-c-white-190);

  --dark-theme-background: var(--vt-c-black);
  --dark-theme-soft: var(--vt-c-black-soft);
  --dark-theme-mute: var(--vt-c-black-mute);
  --dark-theme-mute-2: var(--vt-c-black-mute-2);
  --dark-theme-mute-3: var(--vt-c-white-60);
  --accent: #2e7cc3;
}



[data-theme="light"] {
  --color-background: var(--light-theme-background);
  --color-background-soft: var(--light-theme-soft);
  --color-background-mute: var(--light-theme-mute);
  --color-background-mute-2: var(--light-theme-mute-2);
  --color-background-mute-3: var(--light-theme-mute-3);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-black);
  --color-text-rev: var(--vt-c-white);
}

[data-theme="dark"] {
  --color-background: var(--dark-theme-background);
  --color-background-soft: var(--dark-theme-soft);
  --color-background-mute: var(--dark-theme-mute);
  --color-background-mute-2: var(--dark-theme-mute-2);
  --color-background-mute-3: var(--dark-theme-mute-3);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark);
  --color-text: var(--vt-c-white);

  --color-text-rev: var(--vt-c-black);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  transition: color 0.05s, background-color 0.2s;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: "Open Sans";
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}